.description__contents__delivery-alert
  %p
    この商品は、
    %strong 最短明日の午前中
    までに届けるつもりでいます！
.description__contents__product-name
  商品名:
  = @product.name
.description__contents__product-detail
  %p 商品説明
  = @product.description
  %p 商品No：#{ @product.product_code }
  %p カテゴリー：#{ @product.category }
  %p 原産国：
  %p 残り在庫数：#{ @product.count }
.description__contents__purchace-button
  .tmp-price #{ @product.price }円 税込
  = form_tag users_carts_path, method: "post" do
    = hidden_field_tag :product_id, @product.id
    = submit_tag("カートに入れる", name: nil, class: "add_cart_button")
